{% extends 'main/base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="login-box">
    <h1 class="heading">Login</h1>

    <div class="textbox">
        <i class="fas fa-user-tie"></i>
        <!-- <input type="text" placeholder="Username"><br> -->
    </div>

    <div class="textbox">
        <i class="fas fa-key"></i>
        <!-- <input type="password" placeholder="Password"><br> -->
    </div>

    <input class="btn" type="button" onclick="location.href='https://google.com'" target="_blank" value="Sign in">
</div>
{% endblock %}
