{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block body %}

<div class="login-box">
    <div class="heading">
        Петербургский тракторный завод

        <img
            src="{% static 'registration/img/CompanyLogo.png' %}"
            alt="CompanyLogo"
        />
    </div>
    

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="textbox">
        <i class="fas fa-user-tie"></i>
        {{ form.username }}
    </div>

    <div class="textbox">
        <i class="fas fa-key"></i>
        {{ form.password }}
    </div>


    <input class="btn" type="submit" value="Войти">
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}

    <!-- <p><a href="{% url 'password_reset' %}">Recover password</a></p> -->
</div>




{% endblock %}

