{% extends 'general/base.html' %}
{% load static %}

{% block title %}
Эмулятор
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'general/css/monitoring.css' %}"/>
<link rel="stylesheet" href="{% static 'general/css/emulator.css' %}"/>
{% endblock %}

{% block body %}
<script src={% static "general/js/temp.js" %}></script>
<script src={% static "general/js/emulator.js" %}></script>

<button id="buttonStart" name="buttonStart" style="background-color: rgb(251, 255, 16)" onclick=pressAllButtons(event)>Рабочий день начался</button>
<button id="buttonEnd" name="buttonEnd" style="background-color: rgb(16, 255, 36)" onclick=pressAllButtons(event)>Рабочий день окончен</button>

{% endblock %}