{% extends 'general/base.html' %}
{% load static %}

{% block title %}
Эмулятор
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'general/css/monitoring.css' %}" />
<link rel="stylesheet" href="{% static 'general/css/emulator.css' %}" />
{% endblock %}

{% block body %}

<div class="mainTitle">Имитатор кнопок</div>

<script src={% static "general/js/board.js" %}></script>
<script src={% static "general/js/emulator.js" %}></script>
<script src={% static "general/js/emulator_client.js" %}></script>

<!-- <div id="button_selection_1">
    <window>
        <div class="selectionTitle"> Выберите цвет кнопки </div>

        <button id="buttonRed" class="selectionButton" style="background-color: rgb(255, 0, 0)" onclick=colorsSwitcher(event)>Красная кнопка</button>
        <button id="buttonYellow" class="selectionButton" style="background-color: rgb(255, 255, 0)" onclick=colorsSwitcher(event)>Желтая кнопка</button>
        <button id="buttonGreen" class="selectionButton" style="background-color: rgb(0, 255, 0)" onclick=colorsSwitcher(event)>Зеленая кнопка</button>
    </window>
</div>

<div id="button_selection_2">
    <window>
        <div class="selectionTitle"> Выберите цвет кнопки </div>
        
        <button id="buttonRed" class="selectionButton" style="background-color: rgb(255, 0, 0)" onclick=colorsSwitcher(event)>Красная кнопка</button>
        <button id="buttonYellow" class="selectionButton" style="background-color: rgb(255, 255, 0)" onclick=colorsSwitcher(event)>Желтая кнопка</button>
        <button id="buttonGreen" class="selectionButton" style="background-color: rgb(0, 255, 0)" onclick=colorsSwitcher(event)>Зеленая кнопка</button>
    </window>
</div> -->


{% endblock %}