{% extends 'general/base.html' %}
{% load static %}

{% block title %}
Мониторинг
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'general/css/monitoring.css' %}" />
<link rel="stylesheet" href="{% static 'general/css/events.css' %}" />

{% endblock %}

{% block body %}
<script src={% static "general/js/temp.js" %}></script>
<script src={% static "general/js/board.js" %}></script>
<script src={% static "general/js/events.js" %}></script>

<!-- <button class="hardButton" alt="Кнопка ручного режима" onclick="testFrame()">Ручной режим</button> -->


<!-- Временная кнопка -->
<!-- <span
    class="kekw"
    style="cursor: pointer; text-decoration: underline; color: white"
    onclick="update()">
        Обновить данные
</span> -->




<!-- Твой код стартует тут -->

{% endblock %}