{% extends 'general/base.html' %}
{% load static %}

{% block title %}
Мониторинг
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'general/css/monitoring.css' %}" />
<link rel="stylesheet" href="{% static 'general/css/events.css' %}" />

{% endblock %}

{% block body %}
<script src={% static "general/js/board.js" %}></script>

{% if request.user.is_authenticated and request.user.is_staff %}
    <script src={% static "general/js/events.js" %}></script>
{% else %} 
    <script src={% static "general/js/events_user.js" %}></script>
{% endif %}

<script src={% static "general/js/monitoring_client.js" %}></script>

{% endblock %}