@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    text-align: center;
}

.menu {
    background: linear-gradient(21deg, #dd03e4, #5611ec);
    display: flex;
    padding: 15px;
}

.menu ul {
    display: flex;
    list-style: none;
    padding-top: 5px;
}

.menu li {
    margin-left: auto;
    margin-right: auto;
}

.menu a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 5px 10px;
}

.end_elem {
  margin-left: 90%;
}
