button {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.topButton {
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    background: transparent;
}

.bottomButton {
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    background: transparent;
}