button {
    cursor:pointer;
    width: 100%;
    height: 100%;
    border: none;
}

.topButton {
    display: block;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    background: transparent;
}

.bottomButton {
    display: block;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    background: transparent;
}

.mainTitle {
    margin-top: 40px;
    font-family: 'Montserrat';
    font-size: 60px;
    text-decoration: underline;
}

.selectionTitle {
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-size: 20px;
    text-decoration: underline;
}

.selectionButton {
    margin-top: 20px;
    display: inline-block;
    height: 100px;
}

*[id^='button_selection_']:target {
    display: block;
}

*[id^='button_selection_'] {
    background: rgba(102, 102, 102, 0.68);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999999999;
}

window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    border: 1px solid #cecece;
    padding: 50px;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
}

div#main_text a.close_window {
    position: absolute;
    right: 10px;
    top: 4px;
    border: none;
}